[tool.poetry]
name = "iris"
version = "0.19.0"
description = "Resilient Internet-scale measurement system."
license = "MIT"
authors = [
    "Matthieu Gouel <matthieu.gouel@lip6.fr>",
    "Maxime Mouchet <maxime.mouchet@lip6.fr>"
]
readme = "README.md"
homepage = "https://github.com/dioptra-io/iris"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Topic :: Internet",
]

[tool.poetry.dependencies]
python = "^3.8"
aioboto3 = "^9.2.0"
aioch = "^0.0.2"
aiofiles = "^0.7.0"
aioredis = "^2.0.0"
asgiref = {optional = true, version = "^3.2.7"}
async-timeout = "^3.0.1"
diamond-miner = "^0.1.14"
dramatiq = {extras = ["redis", "watch"], optional = true, version = "^1.9.0"}
email-validator = "^1.1.3"
fakeredis = "^1.6.1"
fastapi = {optional = true, version = "^0.68.1"}
gunicorn = {optional = true, version = "^20.1.0"}
passlib = {extras = ["bcrypt"], optional = true, version = "^1.7.4"}
pycaracal = {optional = true, version = "^0.5.1"}
pydantic = "^1.8.2"
python-jose = {extras = ["cryptography"], optional = true, version = "^3.3.0"}
python-multipart = {optional = true, version = "^0.0.5"}
pytricia = {optional = true, version = "^1.0.2"}
rich = {optional = true, version = "^10.9.0"}
SQLAlchemy-Utils = "^0.37.8"
sqlmodel = "^0.0.4"
starlette_exporter = {optional = true, version = "^0.10.0"}
tenacity = "^8.0.1"
typer = {optional = true, version = "^0.4.0"}
uvicorn = {optional = true, version = "^0.15.0"}

[tool.poetry.dev-dependencies]
black = {version = "^21.9b0", allow-prereleases = true}
boto3-stubs = "^1.18.52"
bumpversion = "^0.6.0"
coverage = "^5.2.1"
flake8 = "^3.8.3"
# Flask is needed for moto_server
Flask = "^2.0.1"
Flask-Cors = "^3.0.10"
httpx = "^0.20.0"
moto = {version = "^2.2.8", extras = ["s3"]}
mypy = "^0.910"
pre-commit = "^2.15.0"
pytest = "^6.2.5"
pytest-asyncio = "^0.15"
pytest-cov = "^2.10.0"
types-aiofiles = "^0.1.9"
pytest-clarity = "^1.0.1"

[tool.poetry.extras]
agent = [
    "pycaracal",
    "pytricia"
]
api = [
    "asgiref",
    "dramatiq",
    "fastapi",
    "gunicorn",
    "passlib",
    "python-jose",
    "python-multipart",
    "starlette_exporter",
    "uvicorn"
]
standalone = [
    "rich",
    "typer"
]
worker = [
    "dramatiq"
]

[tool.pytest.ini_options]
addopts = "--ignore volumes --cov=iris --cov-report term-missing -vvs"
filterwarnings = [
    "ignore::DeprecationWarning:aiofiles.*:",
    "ignore::DeprecationWarning:urllib3.*:",
    "ignore::DeprecationWarning:aiohttp.*:",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
iris-standalone = 'iris.standalone.main:app'
