[tool.poetry]
name = "iris"
version = "0.2.11"
description = ""
authors = ["matthieugouel <matthieu.gouel@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"
aioboto3 = "^8.0.3"
aioch = "^0.0.2"
aiofiles = "^0.5.0"
aioredis = "^1.3.1"
asgiref = "^3.2.7"
dramatiq = {extras = ["redis", "watch"], version = "^1.9.0"}
fastapi = "^0.60.1"
python-logging-loki = "^0.3.1"
python-multipart = "^0.0.5"
redis = "^3.5.3"
starlette_exporter = "^0.4.1"
uvicorn = "^0.11.5"
retrying = "^1.3.3"

[tool.poetry.dev-dependencies]
bumpversion = "^0.6.0"
click = "^7.1.2"
coverage = "^5.2.1"
flake8 = "^3.8.3"
mypy = "^0.782"
pytest = "^6.0.0"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.10.0"

[tool.pytest.ini_options]
addopts = "--ignore volumes --cov=iris --cov-report term-missing -vvs"
filterwarnings = [
    "ignore::DeprecationWarning:aiofiles.*:",
    "ignore::DeprecationWarning:urllib3.*:",
    "ignore::DeprecationWarning:aiohttp.*:",
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
