[tool.poetry]
name = "iris"
version = "1.0.3"
description = "Resilient Internet-scale measurement system."
license = "MIT"
authors = [
    "Matthieu Gouel <matthieu.gouel@lip6.fr>",
    "Maxime Mouchet <maxime.mouchet@lip6.fr>"
]
readme = "README.md"
homepage = "https://github.com/dioptra-io/iris"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Topic :: Internet",
]

[tool.poetry.dependencies]
python = "^3.8"
aioboto3 = "^9.5.0"
aiofiles = "^0.8.0"
aioredis = "^2.0.0"
# We make alembic a runtime dependency so that is available in the Docker images.
alembic = "^1.7.6"
asgiref = "^3.2.7"
asyncpg = "^0.25.0"
diamond-miner = "^0.9.0"
dramatiq = {extras = ["redis", "watch"], version = "^1.12.2"}
email-validator = "^1.1.3"
fastapi = "^0.75.2"
fastapi-users = {extras = ["sqlalchemy2", "oauth"], version = "^9.2.5"}
gunicorn = "^20.1.0"
psycopg2 = "^2.9.3"
pycaracal = "^0.11.0"
pych-client = {extras = ["orjson"], version = "^0.2.10"}
pydantic = "^1.8.2"
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
python-multipart = "^0.0.5"
pytricia = "^1.0.2"
requests = "^2.27.1"
SQLAlchemy-Utils = "^0.38.2"
sqlmodel = "^0.0.6"
starlette_exporter = "^0.12.0"
tenacity = "^8.0.1"
uvicorn = "^0.17.1"
zstandard = "^0.17.0"

[tool.poetry.dev-dependencies]
black = "^22.3"
boto3-stubs = "^1.22.4"
bumpversion = "^0.6.0"
coverage = {extras = ["toml"], version = "^6.3"}
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.950"
pre-commit = "^2.18.1"
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
pytest-cov = "^3.0.0"
pytest-clarity = "^1.0.1"
types-aiofiles = "^0.8.8"

[tool.pytest.ini_options]
addopts = "--capture=no --doctest-modules --ignore=alembic --ignore=iris_data --strict-markers --verbosity=2"
asyncio_mode = "auto"
filterwarnings = [
    "ignore::DeprecationWarning:aioboto3.*:",
    "ignore::DeprecationWarning:aiofiles.*:",
    "ignore::DeprecationWarning:aiohttp.*:",
    "ignore::DeprecationWarning:urllib3.*:",
]

[tool.mypy]
plugins = ["pydantic.mypy"]
ignore_missing_imports = true
# Disabled due to fastapi_users reexports
# implicit_reexport = false
strict_equality = true
strict_optional = true
warn_redundant_casts = true
warn_return_any = true
# warn_unreachable = true
warn_unused_ignores = true

[tool.coverage.report]
exclude_lines = [
    "if TYPE_CHECKING:$",
    "if __name__ == \"__main__\":$",
    "pass$"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
