name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}
      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: Start services
        run: docker compose up -d -t 0 traefik clickhouse minio postgres redis
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Run tests
        run: sudo env CI=1 $(poetry env info -p)/bin/pytest --cov=iris --cov-report=xml --log-cli-level=INFO
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
